<div class="card">
  <%= link_to prototype_path(prototype.id), method: :get, class: :card__image do %>
  <%= image_tag prototype.image %>
  <% end %>
  <div class="card__body">
    <%= link_to prototype_path(prototype.id), method: :get, class: :card__title do %>
    <%= prototype.title %>
    <% end %>
    <p class="card__summary">
      <%= prototype.catch_copy %>
    </p>
    <%= link_to user_path(prototype.user_id), class: :card__user do %>
    <%= "by #{prototype.user.name}" %>
    <% end %>
  </div>
</div>